.card-body {
  padding: 5px;
}

.card {
  background: #dfe9e2;
  border-color: #c1c3c1;
  border-width: 2px;
}
.card-text {
  font-size: 12px;
  text-align: center;
}

.time {
  font-size: 14px;
  text-align: center;
  margin-bottom: 1px;
}

.col-2 {
  padding: 1px 3px 1px 3px;
}

img {
  display: block;
  margin: 0 auto;
}
